@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

/*PALETTE*/

:root {
  --background: #e3f6f5;
  --border: #272343;
  --stroke: black;
  --text: #2d334a;
  --card: #fffffe;
  --highlight: #03afff;
}

/*GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  margin: 10px 20px;
}

main {
  width: 100vw;
}

footer{
  text-align: center;
  margin-top: 40px;
  padding: 10px;
}